.btn{
  cursor: pointer;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 25px;
  line-height: 120%;
  border: transparent;
  &.delete{
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    opacity: 0;
    transition: all .3s;
  }
  &_number, 
  &_dot{
    background-color: #505050;
    color: #fff;
  }
  &_command{
    background-color: #C8C8C8;
  }
  &_operator{
    background-color: orange;
    color: #fff;
    &[disabled="disabled"]{
      opacity: 0.5;
    }
  }
}

#btn_zeroing{
  grid-area: 1/1/2/3;
}

#btn_equal{
  grid-area: 5/3/6/5;
}